.error-body pre {
    margin: 0 !important;
}

.error-body .error-header {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: darkorange;
    color: white;
}

.error-body .error-message {
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    background: red;
    color: white;
}

.error-body .error-file-line {
    display: flex;
    background: #cccccc;
    color: white;
    font-weight: bold;
}

.error-body .error-file-line .error-file {
    padding-left: 1em;
    color: orangered;
}

.error-body .error-file-line .error-delimiter {
    padding-right: 0.25em;
    color: orangered;
}

.error-body .error-file-line .error-line {
    padding-left: 0;
    color: darkred;
}

.error-body .error-content-preview {
    background: #777777;
    color: white;
    font-size: 12px;
}

.error-body .tracer-header {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: green;
    color: white;
}

.error-body .error-backtrace ol li.accordion-item {
    border-bottom: 1px solid #cccccc;
}

.error-body .error-backtrace ol li .backtrace-header {
    cursor: pointer;
}

.error-body .error-backtrace ol li .backtrace-header:hover {
    opacity: 0.8;
}

.error-body .error-backtrace ol li .backtrace-header .accordion-button {
    padding: 0.25em 0.5em;
    margin: 0;
    box-shadow: none;
}

.error-body .error-backtrace ol li .backtrace-header .accordion-button.disabled {
    opacity: 0.3;
    color: #000000;
    cursor: default;
}

.error-body .error-backtrace ol li .backtrace-header .class-function {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.error-body .error-backtrace ol li .backtrace-header .class-function .error-function-args {
    display: flex;
}

.error-body .error-backtrace ol li .backtrace-header .error-file-line {
    background: #e7f1ff;
}

.error-body .error-backtrace ol li .backtrace-header .error-file-line .error-file {
    background: none;
    color: orangered;
    font-size: 11px;
}

.error-body .error-backtrace ol li .backtrace-header .error-file-line .error-delimiter {
    background: none;
    color: orangered;
    font-size: 11px;
    padding-right: 0.25em;
}

.error-body .error-backtrace ol li .backtrace-header .error-file-line .error-line {
    background: none;
    color: darkred;
    font-size: 11px;
    padding: 0;
}

.error-body .error-backtrace ol li .backtrace-body .backtrace-content-preview {
    color: white;
    font-size: 12px;
    background: #777777;
}
