.error-body {
  //border: solid 2px #ccc;
  pre {
    margin: 0 !important;
  }
  .error-header {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: darkorange;
    color: white;
  }
  .error-message {
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    background: red;
    color: white;
    pre {
    }
  }
  .error-file-line {
    display: flex;
    background: #cccccc;
    color: white;
    font-weight: bold;

    .error-file {
      padding-left: 1em;
      color: orangered;
    }
    .error-delimiter {
      padding-right: 0.25em;
      color: orangered;
    }
    .error-line {
      padding-left: 0;
      color: darkred;
    }
  }
  .error-content-preview {
    background: #777777;
    color: white;
    font-size: 12px;
    pre {
      code {
      }
    }
  }
  .tracer-header {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: green;
    color: white;
  }
  .error-backtrace {
    ol {
      li {
        &.accordion-item {
          border-bottom: 1px solid #cccccc;
        }
        .backtrace-header {
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          .accordion-button {
            //display: block;
            &.disabled {
              opacity: 0.3;
              color: #000000;
              cursor: default;
            }
            padding: 0.25em 0.5em;
            margin: 0;
            box-shadow: none;
          }
          .class-function {
            display: flex;
            font-size: 14px;
            font-weight: bold;
            .error-class {
            }
            .error-type {
            }
            .error-function-args {
              display: flex;
              .error-function {
                .error-bracket {
                }
                .error-args {
                }
              }
            }
          }
          .error-file-line {
            background: #e7f1ff;
            .error-file {
              background: none;
              color: orangered;
              font-size: 11px;
            }
            .error-delimiter {
              background: none;
              color: orangered;
              font-size: 11px;
              padding-right: 0.25em;
            }
            .error-line {
              background: none;
              color: darkred;
              font-size: 11px;
              padding: 0;
            }
          }
        }
        .backtrace-body {
          .backtrace-content-preview {
            color: white;
            font-size: 12px;
            background: #777777;
            pre {
              code {
              }
            }
          }
        }
      }
    }
  }
}